@import url('https://fonts.googleapis.com/css?family=Lato');
* {
    box-sizing:content-box;
}
body {
    background-image: linear-gradient(135deg, #e8fbfa 75%, #929292 45%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0;
    overflow: hidden;
}
h1{
    font-size: 100px;
    margin-top: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-size: 30px;
}

.accordion {
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(3, 3, 3, 0.23);
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
.accordion-item {
    background-color: #fceded;
    font-size: 25px;
    cursor: pointer;
    width: 550px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.accordion-item h3 {
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.4px;
    margin: 0;
    padding: 20px 15px;
    position: relative;
}

.accordion-item:nth-child(1) h3 {
    background-color: #c6b4ba;
}
.accordion-item:nth-child(2) h3 {
    background-color: #f591b3;
}
.accordion-item:nth-child(3) h3 {
    background-color: #c6b4ba;
}

.accordion-item h3::after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    margin-top: 15px;
    transform: translateY(-50%) rotate(0);
    transition: transform 0.3s ease-in-out;
}
.accordion-item.open h3::after {
    content: "\2212";
    transform: translateY(-50%) rotate(180deg);

}

.accordion-item p {
    display: none;
    letter-spacing: 1px;
    margin: 0;
    padding: 15px;
    text-align: justify;
}
.accordion-item.open p {
    display
    :inline-block;
}